{% extends "dashboard.html" %}
{% block head %}

<title>Admin pannel</title>

{% endblock head %}

{% block body %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% else %}
        {% endif %}

    {% endwith %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Bienvenue M. {{current_user.Username}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="testa" href="{{ url_for('signup') }}"><button type="button" class="btn btn-sm btn-outline-secondary">Ajouter un utilisateur</button></a>
                <a class="testa" href="{{ url_for('addrelev') }}"><button type="button" class="btn btn-sm btn-outline-secondary">Ajouter un Releve</button></a>
                <a class="testa" href="{{ url_for('addcompteur') }}"><button type="button" class="btn btn-sm btn-outline-secondary">Ajouter un Compteur</button></a>
            </div>
        </div>
    </div>
    <h2>liste des Compteurs</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <th>id de compteur</th>
                <th>code compteur</th>
                <th>owner</th>
            </thead>
            <tbody>
            
            {% for compteur in compteurs %}
                <tr>
                    <td>{{ compteur.id }}</a></td>
                    <td>{{ compteur.Code_Compteur }}</td>
                    <td>{{ users[compteur.person_id - 1].FirstName }} {{ users[compteur.person_id - 1].LastName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>liste des Utilisateurs</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <th>id</th>
                <th>code utilisateur</th>
                <th>nom et prenom</th>
                <th>Numero de tele</th>
                <th>Statut</th>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="adminpannel/user{{ user.id }}">{{ user.id }}</a></td>
                    <td>{{ user.CIN }}</td>
                    <td>M. {{ user.FirstName }} {{ user.LastName }}</td>
                    <td>{{ user.Phone_Number }}</td>
                    <td>{{ user.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>liste des Releves</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
        {% if releves %}
            <thead>
                <th>id de releve</th>
                <th>admin qui fait le releve </th>
                <th>Date de Releve</th>
                <th>Nombre de mois par rapport au dernier releve</th>
            </thead>
            <tbody>
            
            {% for releve in releves %}
                <tr>
                    <td><a href="showrelev/{{ releve.id }}">{{ releve.id }}</a></td>
                    <td>{{ releve.admin_id }}</td>
                    <td>{{ releve.Date_rel }}</td>
                    <td>{{ releve.NombreMois }}</td>
                </tr>
            {% endfor %}
            
            {% else %}

            <p>Pas de Releve pour le moment</p>
            
            {% endif %}
            </tbody>
        </table>
    </div>
    
{% endblock body %}