<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    

    {% block head %}
    
    {% endblock head %}
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Tikhsa</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"-->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{{ url_for('logout') }}">Sign out</a>
        </li>
      </ul>
      <button id="avatar-btn" aria-haspopup="true" class="style-scope ytd-topbar-menu-button-renderer">
        <yt-img-shadow height="32" width="32" class="style-scope ytd-topbar-menu-button-renderer no-transition" loaded="" style="background-color: transparent;">
          <img id="img" class="style-scope yt-img-shadow" alt="Image d'avatar" height="32" width="32" src="https://www.jetphotos.com/assets/img/user.png">
        </yt-img-shadow>
      </button>
    </nav>  
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('adminpannel') }}">
                  <span data-feather="home"></span>
                  Espace Admin <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('addcompteur') }}">
                  <span data-feather="file-text"></span>
                  Ajouter un compteur
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('signup') }}">
                  <span data-feather="users"></span>
                  Ajouter un utilisateur
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('addrelev') }}">
                  <span data-feather="layers"></span>
                  Ajouter un releve 
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    {% block body %}
    
    {% endblock body %}
    </main>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>