{% extends "base.html" %}

{% block head %}

<title> home page </title>

{% endblock head %}

{% block body %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Bienveunue au "TIKHSA"</h1>
        <p class="lead text-muted">Avec ce site web vous pouvez controler toutes vos differents consommations .</p>
        <p>
            <h6 class="jumbotron-heading">
                ACCÉDEZ DÈS MAINTENANT À VOTRE ESPACE CLIENT  
            </h6>
            <a href="/login" class="btn btn-primary my-2">Login</a>
            <a href="/signup" class="btn btn-secondary my-2">Sign up</a>
        </p>
    </div>
</section>


{% endblock body %}