{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/signin.css') }}">
<title>Sign in page</title>

{% endblock head %}


{% block body %}
<div class="container">
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {{ messages[0] }} 
            </div>
        {% else %}
        {% endif %}

    {% endwith %}
    
    <form method="POST" action="/signup/submit">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="lastName">Nom de Famille</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Nom de Famille..." name="LastName">
            </div>
            <div class="form-group col-md-3">
                <label for="firstName">Prenom</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="Prenom..." name="FirstName">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Sexe</label>
            <select id="inputGender" class="form-control" name="gender">
                <option selected>Choisir...</option>
                <option>Homme</option>
                <option>Femme</option>
            </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Mot de passe</label>
                <input type="password" class="form-control" id="inputPassword4" name="password">
            </div>
        </div>
        <!--div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Address... " name="address">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Ville</label>
                <input type="text" class="form-control" id="inputCity" name="city">
            </div-->
            <div class="form-group col-md-2">
                <label for="inputPhoneNumber">Telephone</label>
                <input type="text" class="form-control" id="inputPhoneNumber" name="phone">
            </div>
            <div class="form-group col-md-2">
                <label for="inputCIN">CIN</label>
                <input type="text" class="form-control" id="inputCIN" name="cin">
            </div>
        </div>
        <!--div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div-->
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>


{% endblock body %}